.name: {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 128px;
  text-align: center;
  color: "#323232"
}
.link: {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 116px;
  text-align: left;
  color: '#0089FF' !important;
  text-decoration-line: 'underline';
}
.row {
  margin: 5%;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.block {
  width: 50%;
  justify-content: center;
}

.imgSmall {
  margin-top: 64px;
  width: 20%;
  height: 20%;
}
